body{
	font: 12px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
	text-transform: inherit;
	color: #333;
	background: #eeefea;
	width: 100%;
}

websiteName{
	/* font-weight:1000; */
	font-size: 300%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/* text-transform: uppercase; */
	color: #feb29b;
}

.wrap{
	width: 720px;
	margin: 15px auto;
	padding: 15px 10px;
	background: white;
	border: 2px solid #DBDBDB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.title, .userName {
	margin-top: 2px;
	font-weight:700;
	color: #527590;
}

.post {
	border: 1px solid #d1d1d1;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}

.post .heading {
	font-weight: bold;
	font-size: large;
	color: #72cec1;
	padding-bottom: 0px;
	margin-bottom: 5px;
}

.post .data{
	margin-top:0px;
}

.commentSection {
	margin-left: 10px;
}

.comment {
	background: #deedf2;
	padding: 10px;
	border-radius: 15px;
	margin: 5px;
}

textarea {
	border = 0px;
}

